In [7]:
!export OPENAI_API_KEY=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

In [9]:
import os

In [11]:
os.environ['OPENAI_API_KEY'] = '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'

In [12]:
user = 'vyomkesh'
password = '$$5678Vyom!!'
host = 'drinksmate.cbl2ralli4lr.ap-southeast-2.rds.amazonaws.com'
database = 'drinksmate'
uri = f"mysql+pymysql://{user}:{password}@{host}:{3306}/{database}"

In [13]:
from aioreactive import AsyncSubject, AsyncObserver
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.llms.openai import OpenAI
from langchain.sql_database import SQLDatabase

In [14]:
database = SQLDatabase.from_uri(uri)
toolkit = SQLDatabaseToolkit(db=database, llm=OpenAI(temperature=0))

In [15]:
agentExecutor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=toolkit,
    verbose=True
)

In [16]:
agentExecutor.run("give me the info for products table")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input: ""
Observation: newsletters, site_settings, admins, discount_coupon_desc, country, address bkup, warehouse_city_desc, order_return_request, products, best_selling_products, unit, app_banner_product, contact_us, test_drinksmate_user, admin_app_notifs, unit_desc, management_section, states, users, company_desc, user_api_tokens, product_rating, related_product, payment_cards, brand_desc, company, vendor_details, discount_coupons, loyalty_program, similar_product, failed_jobs, jobs, backend_sidebar_category, sales, temporary_outage_message, time_frame, label_desc, slider, app_slider, banner, banner_desc, sub_sub_category, brand, category, product_variant, order_status_admin, city, product_image, driver_order, push_notification, home_page, label, order_item, access_right, favourite, why_organic, order_repeat, cart_item, order_status_customer, sale_categories, orders, warehouse_product_stock, product_image old, product_desc, backend_sidebar_management, our_team_desc, packing_type, banner_images, our_team, order_shipping_address, warehouse, order_item_repeat, app_banner, user_saved_card, sub_category_desc, faqs, order_payment, dynamic_field, pickup_store, sub_category, business_users, test_drinksmate_user_address, banner_product, product old, mobile_number_verification, user_device, company_information, card, sub_sub_category_desc, packing_type_desc, migrations, saved_product, emails, time_slot, warehouse_city, pickup_store_desc, addresses, user_loyalty_points, cms_pages, order_status
Thought: I should use the schema_sql_db tool to get the schema and sample rows for the products table
Action: schema_sql_db
Action Input: "products"
Observation:
CREATE TABLE products (
	id BIGINT NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) NOT NULL,
	description TEXT,
	category_id INTEGER,
	sub_category_id INTEGER,
	sub_subcategory_id INTEGER,
	packsize VARCHAR(255),
	price FLOAT(10, 2),
	special_price FLOAT(10, 2) NOT NULL DEFAULT '0.00',
	discount_price FLOAT(10, 2) NOT NULL DEFAULT '0.00',
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	deleted_at DATETIME,
	brand_id BIGINT,
	code VARCHAR(200),
	barcode_number VARCHAR(255),
	manufacturer_id VARCHAR(255),
	company_id VARCHAR(255),
	stock INTEGER COMMENT 'not used',
	selling_count INTEGER DEFAULT '0',
	is_featured INTEGER COMMENT '1=yes, 0=no' DEFAULT '0',
	rating FLOAT,
	best_price TINYINT(1) NOT NULL COMMENT '0=no, 1=yes' DEFAULT '0',
	is_fresh ENUM('0','1') NOT NULL COMMENT '0=No,1=Yes' DEFAULT '0',
	sold_out TINYINT(1) NOT NULL COMMENT '0=no, 1=yes' DEFAULT '0',
	comming_soon TINYINT(1) NOT NULL COMMENT '0=No,1=Yes' DEFAULT '0',
	online_exclusive TINYINT(1) NOT NULL COMMENT '0=No,1=Yes' DEFAULT '0',
	new_arrival TINYINT NOT NULL COMMENT '0= no, 1= yes' DEFAULT '0',
	ship_radius FLOAT COMMENT 'not used (if null means it can be shipped without restriction)',
	website_code VARCHAR(255),
	PRIMARY KEY (id)
)ENGINE=InnoDB DEFAULT CHARSET=latin1

/*
3 rows from products table:
id	name	description	category_id	sub_category_id	sub_subcategory_id	packsize	price	special_price	discount_price	created_at	updated_at	deleted_at	brand_id	code	barcode_number	manufacturer_id	company_id	stock	selling_count	is_featured	rating	best_price	is_fresh	sold_out	comming_soon	online_exclusive	new_arrival	ship_radius	website_code
23	MATE'S DATE	Cloudy Bay Pelorus Rose – a top quality Pinot Noir Rose sparking wine makes a special gift for the R	10	None	None	None	89.99	79.99	0.0	2019-06-09 12:52:59	2019-08-05 15:50:25	None	None	None	None	None	None	None	0	0	None	0	0	0	0	0	0	None	MATES-DATE
24	LOVE MATE	Mumm ‘Le Rose’ Champagne is a top gift to send across for someone special. Package includes:

GH M	10	None	None	None	99.99	0.0	0.0	2019-06-09 12:54:14	2019-08-07 22:10:20	2019-08-07 22:10:20	None	None	None	None	None	None	0	0	None	0	0	0	0	0	0	None	LOVE-MATE
25	Gin Mate	Good old G & T. Package includes:

Bombay Sapphire Gin 700 ml
Schweppes Tonic Water 1.5 L
Bag of	10	None	None	None	75.99	0.0	0.0	2019-06-09 12:55:53	2019-08-07 22:19:27	None	None	None	None	None	None	None	0	0	None	0	0	0	0	0	0	None	Gin-Mate
*/
Thought: I now know the schema and sample rows for the products table
Final Answer: The schema and sample rows for the products table are:
CREATE TABLE products (
	id BIGINT NOT NULL AUTO_INCREMENT,
	name VARCHAR(255) NOT NULL,
	description TEXT,
	category_id INTEGER,
	sub_category_id INTEGER,
	sub_subcategory_id INTEGER,
	packsize VARCHAR(255),
	price FLOAT(10, 2),
	special_price FLOAT(10, 2) NOT NULL DEFAULT '0.00',
	discount_price FLOAT(10, 2) NOT NULL DEFAULT '0.00',
	created_at DATETIME NOT NULL,
	updated_at DATETIME NOT NULL,
	deleted_at DATETIME,
	brand_id BIGINT,
	code VARCHAR(200),
	barcode_number VARCHAR(255),
	manufacturer_id VARCHAR(255),

> Finished chain.

"The schema and sample rows for the products table are: \nCREATE TABLE products (\n\tid BIGINT NOT NULL AUTO_INCREMENT, \n\tname VARCHAR(255) NOT NULL, \n\tdescription TEXT, \n\tcategory_id INTEGER, \n\tsub_category_id INTEGER, \n\tsub_subcategory_id INTEGER, \n\tpacksize VARCHAR(255), \n\tprice FLOAT(10, 2), \n\tspecial_price FLOAT(10, 2) NOT NULL DEFAULT '0.00', \n\tdiscount_price FLOAT(10, 2) NOT NULL DEFAULT '0.00', \n\tcreated_at DATETIME NOT NULL, \n\tupdated_at DATETIME NOT NULL, \n\tdeleted_at DATETIME, \n\tbrand_id BIGINT, \n\tcode VARCHAR(200), \n\tbarcode_number VARCHAR(255), \n\tmanufacturer_id VARCHAR(255),"